---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "UTF-8";
@import url(//fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting"
;

@import 'bootstrap/scss/bootstrap';
@import 'fontawesome/scss/fontawesome';
@import 'fontawesome/scss/regular';
@import 'fontawesome/scss/solid';
@import 'fontawesome/scss/brands';

.blog-content {
  word-break: break-word;
}

.sk-logo img {
  width: 60px;
  height: 30px;
  object-fit: cover;
}

.home .post-featured-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 20px 0 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.about-social {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #0A246A;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  line-height: 29px;
  color: #FFFFFF;
  margin-right: 5px;
}

.blog-footer .about-social {
  width: 30px;
  height: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 30px;
}

@media (min-width: 576px) {
  .blog-footer .about-social {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 25px;
    line-height: 40px;
  }
}

.about-social:hover, .about-social:visited {
  color: #FFFFFF;
}

.about-social-fb {
  background-color: #3f51b5 !important;
}

.about-social-tw {
  background-color: #2196F3 !important;
}

.about-social-in {
  background-color: #1565C0 !important;
}

.about-social-so {
  background-color: #DD792E !important;
}

.about-social-rss {
  background-color: #ee802f !important;
}

.about-social-gh {
  background-color: #ffffff !important;
  color: #24292e !important;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: $secondary;
  padding: 1.5em 1.5em 0.5em;
  margin: 1.5em 0;
  position: relative;
  font-size: 1.1em;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
