/*
 * @author Serdar Kuzucu
 */

/*= GENERAL STYLING
--------------------------------------------------------*/

body{
	margin: 0;
	padding: 0;
	width: 100%;
}

h1 { 
    font-family:"Arvo";
	font-weight:normal;
	font-size: 55px;
	text-align: center;
	margin: 0;
	padding: 0;
}

h2 {
   font-family:"Arvo";
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   margin: 0;
	padding: 0;
}

h3 {
   font-family: Oswald;
   font-weight: normal;
   font-size: 16px;
   text-align: center;
   margin: 5px 0;
	padding: 0;
	z-index: 1;
	position: relative;
}

hr {
    border: 2px dotted #333;
    margin: 30px 0;
}



.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }
/*= HEADER & NAVIGATION
--------------------------------------------------------*/

#header { 
	width: 100%; 
	background: url('../img/header-bg.png'); 
	height: 80px; 	
	position: fixed;
	margin-top: 30px;
    z-index: 1000;
}

#nav { width: 430px; float: right; margin-top: 20px; }
#logo a { color: #fff; text-decoration: none; float: left; font-size: 30px; margin-top: 20px; font-family:"Wellfleet"; font-weight: bold; }
#nav ul{
	list-style: none;
	display: block;
	margin: 0 auto;
	list-style: none;	
}

#nav li{
	margin-top: 9px;	
	float: left;
	padding-left: 21px;
}

#nav li a { color: #fff; opacity:0.6; font-size: 16px; text-decoration: none; font-family: 'Wellfleet'; }
#nav li a.active { color: #fff; opacity:1; border-bottom: 2px solid #fff; }
#nav li a:hover { color: #fff; opacity:1;  }



/*= QUOTES AND SOME ELEMENTS
--------------------------------------------------------*/
.quotes {   
 font-family: 'Goudy Bookletter 1911', serif;
   font-weight: normal;
   font-size: 30px;
  text-align: left;
  margin: 50px auto;
}
   
.author_name_white { font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #fff; font-size: 20px; }  
.author_name_gray { font-family:"Wellfleet";  margin: 70px 0 0 75px; color: #94a4a4; font-size: 20px; }  
.quotes_container { width: 800px; margin: 0 auto; }
#divider { background: url('../img/divider.png')no-repeat; width: 300px; height: 35px; margin: 0px auto 27px auto; }
#ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto;  display: block; position: relative; top: -38px; }

.clearfix:after, .clearfix:before {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

#me_avatar {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-bottom: 65px;
}

.social_icon {    
    position: absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.social_icon img {
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.social_icon:hover img {
	width: 60px;
	height: 60px;
}

.social_icon.stackoverflow img {
    width: 42px;
    height: 42px;
}
.social_icon.stackoverflow:hover img {
	width: 52px;
	height: 52px;
}

.social_icon.stackoverflow {
    top: 2px;
    left: -36px;
}

.social_icon.stackoverflow:hover {
	top: -4px;
	left: -40px;
}

.social_icon.facebook {
    top: -50px;
    left: 53px;
}

.social_icon.facebook:hover {
	top: -55px;
	left: 48px;
}

.social_icon.twitter {
	top: 0px;
	left: 145px;
}

.social_icon.twitter:hover {
	top: -5px;
	left: 140px;
}

.social_icon.linkedin {
	top: 154px;
	left: 53px;
}

.social_icon.linkedin:hover {
	top: 149px;
	left: 48px;
}

.social_icon.google {
	top: 105px;
	left: -40px;
}

.social_icon.google:hover {
	top: 100px;
	left: -45px;
}

.social_icon.blog {
	top: 105px;
	left: 145px;
}

.social_icon.blog:hover {
	top: 100px;
	left: 140px;
}

/*= Projects
--------------------------------------------------------*/

.project_holder {
    padding: 0;
    margin: 30px 0 0 0;
    clear: both;
}

.project {
    width: 47%;
    float: left;
    margin-bottom: 20px;
    cursor: pointer;
}

.project:nth-child(odd) {
    margin-right: 6%;
}

.project_inner {
    background: #fff;
    color: #fff;
    padding: 10px;
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

.project_name {
    position: relative;
}

.project_role {
    position: relative;
}

.project_sum {
    font-family: "Arvo";
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    position: relative;
}

.project_img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    -webkit-transition: top 1s, left 1s, bottom 1s, right 1s;
    transition: top 1s, left 1s, bottom 1s, right 1s;
}

.project:hover .project_img {
    top: -20px;
    left: -20px;
    bottom: -20px;
    right: -20px;
}

.project_img_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.project:hover .project_img_overlay {
    opacity: 0.7;
    visibility: visible;
}

.project_name,
.project_role,
.project_sum {
    display: none;
}

.project:hover .project_name,
.project:hover .project_role,
.project:hover .project_sum {
    display: block;
}

/*= Skills
--------------------------------------------------------*/

.skills {
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.skill {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 2px;
}

.skill-1 {
    font-size: 12px;
    background-color: #61F791;
    padding: 5px;
    color: #006600;
}

.skill-2 {
    font-size: 15px;
    background-color: #47D16B;
    padding: 6px;
}

.skill-3 {
    font-size: 18px;
    background-color: #33B24C;
    padding: 9px;
}

.skill-4 {
    font-size: 21px;
    background-color: #0F7D17;
    padding: 12px;
}

.skill-5 {
    font-size: 24px;
    background-color: #006600;
    padding: 15px;
}


/*= BUTTONS
--------------------------------------------------------*/

button.btn-know { 
	padding: 15px 47px; 
	margin: 40px 38.8%;
	text-align: center;
	border: 4px solid #fff; 
	color: #fff; 
	background: transparent; 
	font-size: 19px;
	cursor: pointer;
	text-shadow: -1px 2px 0px rgba(90, 90, 90, 0.56);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-know:hover { background: #fff; color: transparent; }
ul.built { list-style: none; margin: 0 auto; width: 730px; }
.built li img{ float: left; padding-right: 34px; }



/*= SLIDES STYLING
--------------------------------------------------------*/

#slide1, #slide2{ width: 100%; }
#slide1{
    background: #42A390;
	color: #fff;
	height: auto;
	margin: 0;
	padding: 200px 0 200px 0;
}

#slide2{
	background-color: #fff;
	color: #333333;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	padding: 100px 0;
}

#slide3{
	background: url(../img/slide3.jpg) 50% 0 no-repeat fixed;
	color: #fff;
	height: auto;
	padding: 100px 0 100px 0;	
	background-size: cover;
}

#slide4{
	background-color: #fff;
	color: #333333;
	height: auto;
	padding: 100px 0 100px 0;
}

#slide5{
	background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
	height: auto;
	margin: 0 auto;
	padding: 10px 0;
	color: #fff;
	background-size: cover;
}


/*= FOOTER 
--------------------------------------------------------*/

#copyright  { color: #fff; font-family:"Wellfleet";  font-size: 14px; text-align: center;  }
#copyright  a { text-decoration: none; color: #fff;  }

.noscroll {
    overflow: hidden;
}

#loading_layer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: #000;
}

/*= RESPONSIVE STYLING
--------------------------------------------------------*/
@media only screen and (max-width : 960px) {
    .content {
        width: 100%;
        margin: 0;
    }
    
    #logo a {
        float: none;
        display: block;
        padding-left: 5px;
    }
    
    #nav {
        float: none;
        width: 100%;
        clear: both;
        display: block;
        background: url('../img/header-bg.png');
        margin-top: 22px;
        padding-bottom: 10px;
    }
    
    #nav ul {
        margin-left: 0;
        padding-left: 0;
    }
    
    #nav ul li {
        float: none;
        display: inline-block;
        padding-left: 5px;
    }
    
    #nav ul li a {
        font-size: 14px;
    }
    
    #slide1 {
        padding: 220px 0 40px 0;
    }
    
    .project {
        width: 90%;
        margin: 0 5% 20px 5%;
    }
}