---
layout: default
pagination:
  enabled: true
---

<div class="home">
  <div class="timeline">
    <div class="timeline-sidebar">
      <div class="timeline-vertical-line"></div>
    </div>

    <div class="timeline-main">
      {% for post in paginator.posts %}
      <div class="mb-3">
        <div class="card">

          <div class="timeline-sidebar-handle">
            <div class="timeline-image-container">
              <img src="{{ post.featured_image }}" alt="{{ post.title }}">
            </div>

            <div class="timeline-time">
              {{ post.date | date: "%b %-d, %Y" }}
              <br>
              {{ post.date | date: "%H:%M" }}
            </div>

            <div class="timeline-horizontal-line"></div>
          </div>

          <div class="card-body">
            <h5 class="card-title">
              <a class="text-dark" href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">
                <u>{{ post.title }}</u>
              </a>
            </h5>
            <p class="card-text">{{ post.excerpt }}</p>
            {% if post.categories %}
            <div>
              {% for category in post.categories %}
              <a class="btn btn-outline-dark btn-sm" href="/category/{{ category | slugify }}">{{ category }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if paginator.page_trail %}
  <nav class="justify-content-center d-flex">
    <ul class="pagination">
      {% if paginator.previous_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-double-left"></i></a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="javascript:;"><i class="fas fa-angle-double-left"></i></a>
      </li>
      {% endif %}

      {% for trail in paginator.page_trail %}
      {% if page.url == trail.path %}
      <li class="page-item active">
        <a class="page-link" title="{{trail.title}}" href="{{ trail.path | prepend: site.baseurl }}">{{ trail.num }}</a>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" title="{{trail.title}}" href="{{ trail.path | prepend: site.baseurl }}">{{ trail.num }}</a>
      </li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}"><i class="fas fa-angle-double-right"></i></a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="javascript:;"><i class="fas fa-angle-double-right"></i></a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</div>
