<footer class="blog-footer bg-dark text-light">
  <div class="container blog-footer-inner">
    <div class="row">
      <div class="col-auto p-2">
        <a class="sk-logo" href="{{ site.baseurl }}">
          <img src="/assets/main/logo-white.png" alt="{{ site.title }}">
        </a>
      </div>

      <div class="col text-right p-1">
        <a class="about-social about-social-rss" href="/feed.xml" target="_blank" title="RSS Feed"><i class="fa fa-rss"></i></a>
        <a class="about-social about-social-in" href="{{ site.linkedin_link }}" target="_blank" title="Linkedin" rel="nofollow"><i class="fab fa-linkedin-in"></i></a>
        <a class="about-social about-social-so" href="{{ site.stackoverflow_link }}" target="_blank" title="Stackoverflow" rel="nofollow"><i class="fab fa-stack-overflow"></i></a>
        <a class="about-social about-social-tw" href="{{ site.twitter_link }}" target="_blank" title="Twitter"><i class="fab fa-twitter" rel="nofollow"></i></a>
        <a class="about-social about-social-fb" href="{{ site.facebook_link }}" target="_blank" title="Facebook" rel="nofollow"><i class="fab fa-facebook-f"></i></a>
        <a class="about-social about-social-gh" href="{{ site.github_link }}" target="_blank" title="Github" rel="nofollow"><i class="fab fa-github-alt"></i></a>
      </div>
    </div>
  </div>
</footer>
