<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-top mb-2">
  <div class="container">
    <a class="navbar-brand sk-logo" href="{{ site.baseurl }}/">
      <img src="/assets/main/logo-white.png" alt="{{ site.title }}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-tags"></i> Kategoriler
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% assign sorted_categories = site.categories | sk_sort_categories %}
            {% for category in sorted_categories %}
            <a href="/category/{{ category[0] | slugify }}" class="dropdown-item">{{ category[0] }} ({{ category[1].size }})</a>
            {% endfor %}
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/about"><i class="fa fa-user"></i> Hakkımda</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0" method="GET" action="{{ site.google_search_url }}">
        <input type="hidden" name="sitesearch" value="{{ site.google_search_domain }}" />
        <div class="input-group">
          <input type="text" class="form-control border-primary" name="q" value="" placeholder="Ne aradınız?" aria-label="Ne aradınız?" aria-describedby="searchBtn">
          <div class="input-group-append">
            <button class="btn btn-outline-primary btn-light" type="submit" id="searchBtn" value="Ara"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
