<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-top">
  <div class="container">
    <a class="navbar-brand sk-logo" href="{{ site.baseurl }}/">
      <img src="/assets/main/logo-white.png" alt="{{ site.title }}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://serdarkuzucu.com/about"><i class="fa fa-user"></i> Hakkımda</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="GET" action="https://serdarkuzucu.com/">
        <div class="input-group">
          <input type="search" class="form-control border-primary" name="s" value="" placeholder="Ne aradınız?" aria-label="Ne aradınız?" aria-describedby="searchBtn">
          <div class="input-group-append">
            <button class="btn btn-outline-primary btn-light" type="submit" id="searchBtn" value="Ara"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>


<!--<header class="site-header">-->

<!--  <div class="wrapper">-->

<!--    <a class="site-title" href=""></a>-->

<!--    <nav class="site-nav">-->

<!--      <div class="trigger">-->
<!--        {% for my_page in site.pages %}-->
<!--          {% if my_page.title %}-->
<!--          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>-->
<!--          {% endif %}-->
<!--        {% endfor %}-->
<!--      </div>-->
<!--    </nav>-->

<!--  </div>-->

<!--</header>-->
